<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Brand Identity Art Director / Web Designer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <script>if (navigator.userAgent.match(/MSIE|Internet Explorer/i) || navigator.userAgent.match(/Trident\/7\..*?rv:11/i)) { var href = document.location.href; if (!href.match(/[?&]nowprocket/)) { if (href.indexOf("?") == -1) { if (href.indexOf("#") == -1) { document.location.href = href + "?nowprocket=1" } else { document.location.href = href.replace("#", "?nowprocket=1#") } } else { if (href.indexOf("#") == -1) { document.location.href = href + "&nowprocket=1" } else { document.location.href = href.replace("#", "&nowprocket=1#") } } } }</script>
    <script>(() => { class RocketLazyLoadScripts { constructor() { this.v = "2.0.0", this.userEvents = ["keydown", "keyup", "mousedown", "mouseup", "mousemove", "mouseover", "mouseenter", "mouseout", "mouseleave", "touchmove", "touchstart", "touchend", "touchcancel", "wheel", "click", "dblclick", "input", "visibilitychange"], this.attributeEvents = ["onblur", "onclick", "oncontextmenu", "ondblclick", "onfocus", "onmousedown", "onmouseenter", "onmouseleave", "onmousemove", "onmouseout", "onmouseover", "onmouseup", "onmousewheel", "onscroll", "onsubmit"] } async t() { this.i(), this.o(), /iP(ad|hone)/.test(navigator.userAgent) && this.h(), this.u(), this.l(this), this.m(), this.k(this), this.p(this), this._(), await Promise.all([this.R(), this.L()]), this.lastBreath = Date.now(), this.S(this), this.P(), this.D(), this.O(), this.M(), await this.C(this.delayedScripts.normal), await this.C(this.delayedScripts.defer), await this.C(this.delayedScripts.async), this.T("domReady"), await this.F(), await this.j(), await this.I(), this.T("windowLoad"), await this.A(), window.dispatchEvent(new Event("rocket-allScriptsLoaded")), this.everythingLoaded = !0, this.lastTouchEnd && await new Promise((t => setTimeout(t, 500 - Date.now() + this.lastTouchEnd))), this.H(), this.T("all"), this.U(), this.W() } i() { this.CSPIssue = sessionStorage.getItem("rocketCSPIssue"), document.addEventListener("securitypolicyviolation", (t => { this.CSPIssue || "script-src-elem" !== t.violatedDirective || "data" !== t.blockedURI || (this.CSPIssue = !0, sessionStorage.setItem("rocketCSPIssue", !0)) }), { isRocket: !0 }) } o() { window.addEventListener("pageshow", (t => { this.persisted = t.persisted, this.realWindowLoadedFired = !0 }), { isRocket: !0 }), window.addEventListener("pagehide", (() => { this.onFirstUserAction = null }), { isRocket: !0 }) } h() { let t; function e(e) { t = e } window.addEventListener("touchstart", e, { isRocket: !0 }), window.addEventListener("touchend", (function i(o) { Math.abs(o.changedTouches[0].pageX - t.changedTouches[0].pageX) < 10 && Math.abs(o.changedTouches[0].pageY - t.changedTouches[0].pageY) < 10 && o.timeStamp - t.timeStamp < 200 && (o.target.dispatchEvent(new PointerEvent("click", { target: o.target, bubbles: !0, cancelable: !0 })), event.preventDefault(), window.removeEventListener("touchstart", e, { isRocket: !0 }), window.removeEventListener("touchend", i, { isRocket: !0 })) }), { isRocket: !0 }) } q(t) { this.userActionTriggered || ("mousemove" !== t.type || this.firstMousemoveIgnored ? "keyup" === t.type || "mouseover" === t.type || "mouseout" === t.type || (this.userActionTriggered = !0, this.onFirstUserAction && this.onFirstUserAction()) : this.firstMousemoveIgnored = !0), "click" === t.type && t.preventDefault(), this.savedUserEvents.length > 0 && (t.stopPropagation(), t.stopImmediatePropagation()), "touchstart" === this.lastEvent && "touchend" === t.type && (this.lastTouchEnd = Date.now()), "click" === t.type && (this.lastTouchEnd = 0), this.lastEvent = t.type, this.savedUserEvents.push(t) } u() { this.savedUserEvents = [], this.userEventHandler = this.q.bind(this), this.userEvents.forEach((t => window.addEventListener(t, this.userEventHandler, { passive: !1, isRocket: !0 }))) } U() { this.userEvents.forEach((t => window.removeEventListener(t, this.userEventHandler, { passive: !1, isRocket: !0 }))), this.savedUserEvents.forEach((t => { t.target.dispatchEvent(new window[t.constructor.name](t.type, t)) })) } m() { this.eventsMutationObserver = new MutationObserver((t => { const e = "return false"; for (const i of t) { if ("attributes" === i.type) { const t = i.target.getAttribute(i.attributeName); t && t !== e && (i.target.setAttribute("data-rocket-" + i.attributeName, t), i.target.setAttribute(i.attributeName, e)) } "childList" === i.type && i.addedNodes.forEach((t => { if (t.nodeType === Node.ELEMENT_NODE) for (const i of t.attributes) this.attributeEvents.includes(i.name) && i.value && "" !== i.value && (t.setAttribute("data-rocket-" + i.name, i.value), t.setAttribute(i.name, e)) })) } })), this.eventsMutationObserver.observe(document, { subtree: !0, childList: !0, attributeFilter: this.attributeEvents }) } H() { this.eventsMutationObserver.disconnect(), this.attributeEvents.forEach((t => { document.querySelectorAll("[data-rocket-" + t + "]").forEach((e => { e.setAttribute(t, e.getAttribute("data-rocket-" + t)), e.removeAttribute("data-rocket-" + t) })) })) } k(t) { Object.defineProperty(HTMLElement.prototype, "onclick", { get() { return this.rocketonclick }, set(e) { this.rocketonclick = e, this.setAttribute(t.everythingLoaded ? "onclick" : "data-rocket-onclick", "this.rocketonclick(event)") } }) } S(t) { function e(e, i) { let o = e[i]; e[i] = null, Object.defineProperty(e, i, { get: () => o, set(s) { t.everythingLoaded ? o = s : e["rocket" + i] = o = s } }) } e(document, "onreadystatechange"), e(window, "onload"), e(window, "onpageshow"); try { Object.defineProperty(document, "readyState", { get: () => t.rocketReadyState, set(e) { t.rocketReadyState = e }, configurable: !0 }), document.readyState = "loading" } catch (t) { console.log("WPRocket DJE readyState conflict, bypassing") } } l(t) { this.originalAddEventListener = EventTarget.prototype.addEventListener, this.originalRemoveEventListener = EventTarget.prototype.removeEventListener, this.savedEventListeners = [], EventTarget.prototype.addEventListener = function (e, i, o) { o && o.isRocket || !t.B(e, this) && !t.userEvents.includes(e) || t.B(e, this) && !t.userActionTriggered || e.startsWith("rocket-") ? t.originalAddEventListener.call(this, e, i, o) : t.savedEventListeners.push({ target: this, remove: !1, type: e, func: i, options: o }) }, EventTarget.prototype.removeEventListener = function (e, i, o) { o && o.isRocket || !t.B(e, this) && !t.userEvents.includes(e) || t.B(e, this) && !t.userActionTriggered || e.startsWith("rocket-") ? t.originalRemoveEventListener.call(this, e, i, o) : t.savedEventListeners.push({ target: this, remove: !0, type: e, func: i, options: o }) } } T(t) { "all" === t && (EventTarget.prototype.addEventListener = this.originalAddEventListener, EventTarget.prototype.removeEventListener = this.originalRemoveEventListener), this.savedEventListeners = this.savedEventListeners.filter((e => { let i = e.type, o = e.target || window; return "domReady" === t && "DOMContentLoaded" !== i && "readystatechange" !== i || ("windowLoad" === t && "load" !== i && "readystatechange" !== i && "pageshow" !== i || (this.B(i, o) && (i = "rocket-" + i), e.remove ? o.removeEventListener(i, e.func, e.options) : o.addEventListener(i, e.func, e.options), !1)) })) } p(t) { let e; function i(e) { return t.everythingLoaded ? e : e.split(" ").map((t => "load" === t || t.startsWith("load.") ? "rocket-jquery-load" : t)).join(" ") } function o(o) { function s(e) { const s = o.fn[e]; o.fn[e] = o.fn.init.prototype[e] = function () { return this[0] === window && t.userActionTriggered && ("string" == typeof arguments[0] || arguments[0] instanceof String ? arguments[0] = i(arguments[0]) : "object" == typeof arguments[0] && Object.keys(arguments[0]).forEach((t => { const e = arguments[0][t]; delete arguments[0][t], arguments[0][i(t)] = e }))), s.apply(this, arguments), this } } o && o.fn && !t.allJQueries.includes(o) && (o.fn.ready = o.fn.init.prototype.ready = function (e) { return !t.realDomReadyFired || t.userActionTriggered && !t.fauxDomReadyFired ? document.addEventListener("DOMContentLoaded", (() => e.bind(document)(o))) : parseInt(o.fn.jquery) > 2 ? setTimeout((() => e.bind(document)(o))) : e.bind(document)(o), o([]) }, s("on"), s("one"), s("off"), t.allJQueries.push(o)), e = o } t.allJQueries = [], o(window.jQuery), Object.defineProperty(window, "jQuery", { get: () => e, set(t) { o(t) } }) } P() { const t = new Map; document.write = document.writeln = function (e) { const i = document.currentScript, o = document.createRange(), s = i.parentElement; let n = t.get(i); void 0 === n && (n = i.nextSibling, t.set(i, n)); const a = document.createDocumentFragment(); o.setStart(a, 0), a.appendChild(o.createContextualFragment(e)), s.insertBefore(a, n) } } async R() { return new Promise((t => { this.userActionTriggered ? t() : this.onFirstUserAction = t })) } async L() { return new Promise((t => { document.addEventListener("DOMContentLoaded", (() => { this.realDomReadyFired = !0, t() }), { isRocket: !0 }) })) } async I() { return this.realWindowLoadedFired ? Promise.resolve() : new Promise((t => { window.addEventListener("load", t, { isRocket: !0 }) })) } M() { this.pendingScripts = []; this.scriptsMutationObserver = new MutationObserver((t => { for (const e of t) e.addedNodes.forEach((t => { "SCRIPT" !== t.tagName || t.noModule || t.isWPRocket || this.pendingScripts.push({ script: t, promise: new Promise((e => { const i = () => { const i = this.pendingScripts.findIndex((e => e.script === t)); i >= 0 && this.pendingScripts.splice(i, 1), e() }; t.addEventListener("load", i, { isRocket: !0 }), t.addEventListener("error", i, { isRocket: !0 }), setTimeout(i, 1e3) })) }) })) })), this.scriptsMutationObserver.observe(document, { childList: !0, subtree: !0 }) } async j() { await this.J(), this.pendingScripts.length ? (await this.pendingScripts[0].promise, await this.j()) : this.scriptsMutationObserver.disconnect() } D() { this.delayedScripts = { normal: [], async: [], defer: [] }, document.querySelectorAll("script[type$=rocketlazyloadscript]").forEach((t => { t.hasAttribute("data-rocket-src") ? t.hasAttribute("async") && !1 !== t.async ? this.delayedScripts.async.push(t) : t.hasAttribute("defer") && !1 !== t.defer || "module" === t.getAttribute("data-rocket-type") ? this.delayedScripts.defer.push(t) : this.delayedScripts.normal.push(t) : this.delayedScripts.normal.push(t) })) } async _() { await this.L(); let t = []; document.querySelectorAll("script[type$=rocketlazyloadscript][data-rocket-src]").forEach((e => { let i = e.getAttribute("data-rocket-src"); if (i && !i.startsWith("data:")) { i.startsWith("//") && (i = location.protocol + i); try { const o = new URL(initial - logo - concepts / index.html).origin; o !== location.origin && t.push({ src: o, crossOrigin: e.crossOrigin || "module" === e.getAttribute("data-rocket-type") }) } catch (t) { } } })), t = [...new Map(t.map((t => [JSON.stringify(t), t]))).values()], this.N(t, "preconnect") } async $(t) { if (await this.G(), !0 !== t.noModule || !("noModule" in HTMLScriptElement.prototype)) return new Promise((e => { let i; function o() { (i || t).setAttribute("data-rocket-status", "executed"), e() } try { if (navigator.userAgent.includes("Firefox/index.html") || "" === navigator.vendor || this.CSPIssue) i = document.createElement("script"), [...t.attributes].forEach((t => { let e = t.nodeName; "type" !== e && ("data-rocket-type" === e && (e = "type"), "data-rocket-src" === e && (e = "src"), i.setAttribute(e, t.nodeValue)) })), t.text && (i.text = t.text), t.nonce && (i.nonce = t.nonce), i.hasAttribute("src") ? (i.addEventListener("load", o, { isRocket: !0 }), i.addEventListener("error", (() => { i.setAttribute("data-rocket-status", "failed-network"), e() }), { isRocket: !0 }), setTimeout((() => { i.isConnected || e() }), 1)) : (i.text = t.text, o()), i.isWPRocket = !0, t.parentNode.replaceChild(i, t); else { const i = t.getAttribute("data-rocket-type"), s = t.getAttribute("data-rocket-src"); i ? (t.type = i, t.removeAttribute("data-rocket-type")) : t.removeAttribute("type"), t.addEventListener("load", o, { isRocket: !0 }), t.addEventListener("error", (i => { this.CSPIssue && i.target.src.startsWith("data:") ? (console.log("WPRocket: CSP fallback activated"), t.removeAttribute("src"), this.$(t).then(e)) : (t.setAttribute("data-rocket-status", "failed-network"), e()) }), { isRocket: !0 }), s ? (t.fetchPriority = "high", t.removeAttribute("data-rocket-src"), t.src = s) : t.src = "data:text/javascript;base64," + window.btoa(unescape(encodeURIComponent(t.text))) } } catch (i) { t.setAttribute("data-rocket-status", "failed-transform"), e() } })); t.setAttribute("data-rocket-status", "skipped") } async C(t) { const e = t.shift(); return e ? (e.isConnected && await this.$(e), this.C(t)) : Promise.resolve() } O() { this.N([...this.delayedScripts.normal, ...this.delayedScripts.defer, ...this.delayedScripts.async], "preload") } N(t, e) { this.trash = this.trash || []; let i = !0; var o = document.createDocumentFragment(); t.forEach((t => { const s = t.getAttribute && t.getAttribute("data-rocket-src") || t.src; if (s && !s.startsWith("data:")) { const n = document.createElement("link"); n.href = s, n.rel = e, "preconnect" !== e && (n.as = "script", n.fetchPriority = i ? "high" : "low"), t.getAttribute && "module" === t.getAttribute("data-rocket-type") && (n.crossOrigin = !0), t.crossOrigin && (n.crossOrigin = t.crossOrigin), t.integrity && (n.integrity = t.integrity), t.nonce && (n.nonce = t.nonce), o.appendChild(n), this.trash.push(n), i = !1 } })), document.head.appendChild(o) } W() { this.trash.forEach((t => t.remove())) } async F() { try { document.readyState = "interactive" } catch (t) { } this.fauxDomReadyFired = !0; try { await this.G(), document.dispatchEvent(new Event("rocket-readystatechange")), await this.G(), document.rocketonreadystatechange && document.rocketonreadystatechange(), await this.G(), document.dispatchEvent(new Event("rocket-DOMContentLoaded")), await this.G(), window.dispatchEvent(new Event("rocket-DOMContentLoaded")) } catch (t) { console.error(t) } } async A() { try { document.readyState = "complete" } catch (t) { } try { await this.G(), document.dispatchEvent(new Event("rocket-readystatechange")), await this.G(), document.rocketonreadystatechange && document.rocketonreadystatechange(), await this.G(), window.dispatchEvent(new Event("rocket-load")), await this.G(), window.rocketonload && window.rocketonload(), await this.G(), this.allJQueries.forEach((t => t(window).trigger("rocket-jquery-load"))), await this.G(); const t = new Event("rocket-pageshow"); t.persisted = this.persisted, window.dispatchEvent(t), await this.G(), window.rocketonpageshow && window.rocketonpageshow({ persisted: this.persisted }) } catch (t) { console.error(t) } } async G() { Date.now() - this.lastBreath > 45 && (await this.J(), this.lastBreath = Date.now()) } async J() { return document.hidden ? new Promise((t => setTimeout(t))) : new Promise((t => requestAnimationFrame(t))) } B(t, e) { return e === document && "readystatechange" === t || (e === document && "DOMContentLoaded" === t || (e === window && "DOMContentLoaded" === t || (e === window && "load" === t || e === window && "pageshow" === t))) } static run() { (new RocketLazyLoadScripts).t() } } RocketLazyLoadScripts.run() })();</script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="alternate" type="application/rss+xml" title="Marbury | Boutique Branding Agency RSS Feed" href="feed/index.html" />
    <link rel="pingback" href="xmlrpc.html" />

    <!-- Legacy IE Support For HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="~/wp-content/uploads/2022/12/favicon.png" />
    <!-- Google tag (gtag.js) -->
    <script type="rocketlazyloadscript" async data-rocket-src="https://www.googletagmanager.com/gtag/js?id=G-LFRGDRE2Z2"></script>
    <script type="rocketlazyloadscript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-LFRGDRE2Z2');
    </script>
    <!-- Flodesk -->
    <script type="rocketlazyloadscript">
        (function(w, d, t, h, s, n) {
          w.FlodeskObject = n;
          var fn = function() {
            (w[n].q = w[n].q || []).push(arguments);
          };
          w[n] = w[n] || fn;
          var f = d.getElementsByTagName(t)[0];
          var v = '?v=' + Math.floor(new Date().getTime() / (120 * 1000)) * 60;
          var sm = d.createElement(t);
          sm.async = true;
          sm.type = 'module';
          sm.src = h + s + '.mjs' + v;
          f.parentNode.insertBefore(sm, f);
          var sn = d.createElement(t);
          sn.async = true;
          sn.noModule = true;
          sn.src = h + s + '.js' + v;
          f.parentNode.insertBefore(sn, f);
        })(window, document, 'script', 'https://assets.flodesk.com/', '/universal', 'fd');
    </script>
    <!-- End Flodesk -->

    <meta name="p:domain_verify" content="42041a7a659346d9d6bdfd272b2bf01d" />

    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <style>
        img:is([sizes="auto" i], [sizes^="auto," i]) {
            contain-intrinsic-size: 3000px 1500px
        }
    </style>

    <!-- This site is optimized with the Yoast SEO plugin v24.3 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Marbury | Boutique Branding Agency</title>
    <link rel="canonical" href="index.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Marbury | Boutique Branding Agency" />
    <meta property="og:url" content="https://marbury.co/" />
    <meta property="og:site_name" content="Marbury | Boutique Branding Agency" />
    <meta property="article:modified_time" content="2025-02-04T16:00:33+00:00" />
    <meta property="og:image" content="https://marbury.co/~/wp-content/uploads/2023/02/Marbury-SocialAvatars-R1_Ivory-Wordmark-on-Charcoal-scaled.jpg" />
    <meta property="og:image:width" content="2560" />
    <meta property="og:image:height" content="2560" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel='dns-prefetch' href='http://cdnjs.cloudflare.com/' />
    <link rel='dns-prefetch' href='http://cdn.jsdelivr.net/' />

    <link rel='stylesheet' id='block-styles-css' href='~/wp-content/themes/marbury/_compiled-styles/blocks-min9704.css?ver=6.7.1' type='text/css' media='all' />
    <link rel='stylesheet' id='sbi_styles-css' href='~/wp-content/plugins/instagram-feed-pro/css/sbi-styles.mind3c7.css?ver=6.5.1' type='text/css' media='all' />
    <style id='safe-svg-svg-icon-style-inline-css' type='text/css'>
        .safe-svg-cover {
            text-align: center
        }

            .safe-svg-cover .safe-svg-inside {
                display: inline-block;
                max-width: 100%
            }

            .safe-svg-cover svg {
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                width: 100%
            }
    </style>
    <link rel='stylesheet' id='font-awesome-css' href='~/cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min6a4d.css?ver=6.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='normalize-css' href='~/cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min823d.css?ver=7.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='slick-slider-css-css' href='~/cdn.jsdelivr.net/npm/slick-carousel%401.8.1/slick/slickc245.css?ver=1.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='select2-css' href='~/cdn.jsdelivr.net/npm/select2%404.1.0-rc.0/dist/css/select2.min9704.css?ver=6.7.1' type='text/css' media='all' />
    <link rel='stylesheet' id='stylesheet-css' href='~/wp-content/themes/marbury/style9055.css?ver=6' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-styles-css' href='~/wp-content/themes/marbury/_compiled-styles/theme-styles-min9055.css?ver=6' type='text/css' media='all' />
    <link rel='stylesheet' id='instagram-styles-css' href='~/wp-content/themes/marbury/_static/styles/instagramdecd.css?ver=1739386707' type='text/css' media='all' />
    <link rel='stylesheet' id='greg-styles-css' href='~/wp-content/themes/marbury/_static/styles/greg-stylesdecd.css?ver=1739386707' type='text/css' media='all' />
    <link rel='stylesheet' id='vanilla-styles-css' href='~/wp-content/themes/marbury/vanilla-styledecd.css?ver=1739386707' type='text/css' media='all' />
    <script type="rocketlazyloadscript" data-rocket-type="text/javascript" data-rocket-src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js?ver=6.1.1" id="font-awesome-js"></script>
    <script type="rocketlazyloadscript" data-rocket-type="text/javascript" data-rocket-src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/v4-shims.min.js?ver=6.1.1" id="font-awesome-4-shim-js"></script>
    <script type="rocketlazyloadscript" data-rocket-type="text/javascript" data-rocket-src="https://marbury.co/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
    <script type="rocketlazyloadscript" data-rocket-type="text/javascript" data-rocket-src="https://marbury.co/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
    <link rel="https://api.w.org/" href="wp-json/index.html" />
    <link rel="alternate" title="JSON" type="application/json" href="wp-json/wp/v2/pages/120.json" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" title="oEmbed (JSON)" type="application/json+oembed" href="wp-json/oembed/1.0/embed9ead.json?url=https%3A%2F%2Fmarbury.co%2F" />
    <link rel="alternate" title="oEmbed (XML)" type="text/xml+oembed" href="wp-json/oembed/1.0/embedb477?url=https%3A%2F%2Fmarbury.co%2F&amp;format=xml" />
    <style type="text/css" id="wp-custom-css">
        /*VIDEO SECTION TWEAKS*/
        .wp-block-video, .wp-block-embed {
            grid-column: 1/-1 !important;
            text-align: center;
            padding-top: 2.1875vw;
            padding-bottom: 2.1875vw;
        }

            .wp-block-video video {
                max-width: 1600px;
            }

        /*.is-type-video .wp-block-embed__wrapper {
                  display: block;
                  position: relative;
                  width: 100%;
                  height: 0;
                  padding-bottom: 56.25%;
                  margin-top: 1.5rem;
                }*/


        #gform_wrapper_4.gform_wrapper.gravity-theme .gfield {
            margin-bottom: 5px;
        }

        #gform_wrapper_4.gform_wrapper.gravity-theme .gfield_required {
            color: #2d2926;
        }

        #gform_wrapper_4 .gform_required_legend {
            display: none;
        }

        /* New Opt-In Form */
        .section-newsletter #gform_wrapper_5,
        #gform_wrapper_8 {
            margin-top: 3.8125rem !important;
        }

        #gform_5 input[type="text"],
        #gform_5 input[type="email"],
        #gform_8 input[type="text"],
        #gform_8 input[type="email"] {
            background: transparent !important;
            border: 0 !important;
            border-bottom: 1px solid #2d2926 !important;
            font-family: "Brown LL",sans-serif !important;
            font-size: 13px !important;
            letter-spacing: .15em !important;
            padding-top: 2em !important;
            padding-bottom: 1.5em !important;
            text-align: center !important;
            text-transform: uppercase !important;
        }

        #field_5_4 {
            display: block;
        }

            #field_5_4 legend {
                float: left;
                font-family: "Graphik", sans-serif;
                font-weight: 400;
                margin-right: 60px;
                width: 120px;
            }

            #field_5_4 .ginput_container {
                flex: none;
                float: right;
                width: calc(100% - 200px);
            }

            #field_5_4 #input_5_4 {
                columns: 2;
                column-gap: 30px;
            }

                #field_5_4 #input_5_4 .gchoice {
                    margin-bottom: 9px;
                }

        #gform_5 .gfield-choice-input + label {
            transform: translateY(3px);
        }

        body .section-newsletter #gform_5 input[type="submit"],
        body .section-newsletter #gform_8 input[type="submit"] {
            background: #2D2926 !important;
            border: 0;
            border-radius: 90px;
            color: #FEF9F0 !important;
            display: table;
            font-size: 13px;
            height: auto;
            letter-spacing: .15em;
            margin: 30px auto 0;
            min-width: 325px;
            padding: 13px 20px;
            position: relative;
            right: auto;
            text-align: center;
            text-transform: uppercase;
            top: auto;
            width: auto;
        }

        @@media (max-width: 768px) {
            #field_5_4

        {
            display: block;
        }

        #field_5_4 legend {
            float: none;
            margin: 0 auto 20px;
            width: 100%;
        }

        #field_5_4 .ginput_container {
            float: none;
            width: 100%;
        }

        }

        @@media (max-width: 550px) {
            #field_5_4 #input_5_4

        {
            columns: 1;
        }

        body .section-newsletter #gform_5 input[type="submit"] {
            min-width: 150px;
        }

        body .section-newsletter #gform_8 input[type="submit"] {
            min-width: 150px;
        }

        }

        .single-post .section-recent-posts + .section-newsletter {
            display: none;
        }

        #sb_instagram #sbi_images.sbi_carousel {
            padding-top: 0;
            padding-bottom: 0
        }




        /***PLACEHOLDER FIX FOR INPUT FIELDS***/
        .section-contact__form input[id^=input_1_10], .section-contact__form input[id^=input_1_14], .section-contact__form input[id^=input_1_21],
        .section-contact__form input[id^=input_1_17], .section-contact__form input[id^=input_1_18], .section-contact__form input[id^=input_1_19],
        .section-contact__form input[id^=input_1_20], .section-contact__form input[id^=input_1_22] {
            height: 3.75rem;
        }

        @@media (max-width: 575px) {
            .section-contact__form input[id^=input_1_10], .section-contact__form input[id^=input_1_14], .section-contact__form input[id^=input_1_21], .section-contact__form input[id^=input_1_17], .section-contact__form input[id^=input_1_18], .section-contact__form input[id^=input_1_19], .section-contact__form input[id^=input_1_20], .section-contact__form input[id^=input_1_22]

        {
            height: 4.5rem;
        }

        }

        .section-contact__form input[id^=input_1_10]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_14]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_21]::-webkit-input-placeholder,
        .section-contact__form input[id^=input_1_17]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_18]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_19]::-webkit-input-placeholder,
        .section-contact__form input[id^=input_1_20]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_22]::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            white-space: pre-line;
            position: relative;
            top: -0.6525rem;
        }

        @@media (max-width: 575px) {
            .section-contact__form input[id^=input_1_10]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_14]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_21]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_17]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_18]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_19]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_20]::-webkit-input-placeholder, .section-contact__form input[id^=input_1_22]::-webkit-input-placeholder

        {
            top: -0.9525rem;
        }

        }

        .section-contact__form input[id^=input_1_10]::-moz-placeholder, .section-contact__form input[id^=input_1_14]::-moz-placeholder, .section-contact__form input[id^=input_1_21]::-moz-placeholder,
        .section-contact__form input[id^=input_1_17]::-moz-placeholder, .section-contact__form input[id^=input_1_18]::-moz-placeholder, .section-contact__form input[id^=input_1_19]::-moz-placeholder,
        .section-contact__form input[id^=input_1_20]::-moz-placeholder, .section-contact__form input[id^=input_1_22]::-moz-placeholder {
            /* Firefox 19+ */
            white-space: pre-line;
            position: relative;
            top: -0.6525rem;
        }

        @@media (max-width: 575px) {
            .section-contact__form input[id^=input_1_10]::-moz-placeholder, .section-contact__form input[id^=input_1_14]::-moz-placeholder, .section-contact__form input[id^=input_1_21]::-moz-placeholder, .section-contact__form input[id^=input_1_17]::-moz-placeholder, .section-contact__form input[id^=input_1_18]::-moz-placeholder, .section-contact__form input[id^=input_1_19]::-moz-placeholder, .section-contact__form input[id^=input_1_20]::-moz-placeholder, .section-contact__form input[id^=input_1_22]::-moz-placeholder

        {
            top: -0.9525rem;
        }

        }

        .section-contact__form input[id^=input_1_10]:-ms-input-placeholder, .section-contact__form input[id^=input_1_14]:-ms-input-placeholder, .section-contact__form input[id^=input_1_21]:-ms-input-placeholder,
        .section-contact__form input[id^=input_1_17]:-ms-input-placeholder, .section-contact__form input[id^=input_1_18]:-ms-input-placeholder, .section-contact__form input[id^=input_1_19]:-ms-input-placeholder,
        .section-contact__form input[id^=input_1_20]:-ms-input-placeholder, .section-contact__form input[id^=input_1_22]:-ms-input-placeholder {
            /* IE 10+ */
            white-space: pre-line;
            position: relative;
            top: -0.6525rem;
        }

        @@media (max-width: 575px) {
            .section-contact__form input[id^=input_1_10]:-ms-input-placeholder, .section-contact__form input[id^=input_1_14]:-ms-input-placeholder, .section-contact__form input[id^=input_1_21]:-ms-input-placeholder, .section-contact__form input[id^=input_1_17]:-ms-input-placeholder, .section-contact__form input[id^=input_1_18]:-ms-input-placeholder, .section-contact__form input[id^=input_1_19]:-ms-input-placeholder, .section-contact__form input[id^=input_1_20]:-ms-input-placeholder, .section-contact__form input[id^=input_1_22]:-ms-input-placeholder

        {
            top: -0.9525rem;
        }

        }

        .section-contact__form input[id^=input_1_10]:-moz-placeholder, .section-contact__form input[id^=input_1_14]:-moz-placeholder, .section-contact__form input[id^=input_1_21]:-moz-placeholder,
        .section-contact__form input[id^=input_1_17]:-moz-placeholder, .section-contact__form input[id^=input_1_18]:-moz-placeholder, .section-contact__form input[id^=input_1_19]:-moz-placeholder,
        .section-contact__form input[id^=input_1_20]:-moz-placeholder, .section-contact__form input[id^=input_1_22]:-moz-placeholder {
            /* Firefox 18- */
            white-space: pre-line;
            position: relative;
            top: -0.6525rem;
        }

        @@media (max-width: 575px) {
            .section-contact__form input[id^=input_1_10]:-moz-placeholder, .section-contact__form input[id^=input_1_14]:-moz-placeholder, .section-contact__form input[id^=input_1_21]:-moz-placeholder, .section-contact__form input[id^=input_1_17]:-moz-placeholder, .section-contact__form input[id^=input_1_18]:-moz-placeholder, .section-contact__form input[id^=input_1_19]:-moz-placeholder, .section-contact__form input[id^=input_1_20]:-moz-placeholder, .section-contact__form input[id^=input_1_22]:-moz-placeholder

        {
            top: -0.9525rem;
        }

        }

        .section-contact__form #field_1_15 {
            height: 3.75rem;
        }

        @@media (max-width: 1199px) {
            .section-contact__form #field_1_15

        {
            height: 4.5rem;
        }

        }

        .section-contact__form #field_1_15 .select2-container.select2-container--BRANDI, .section-contact__form #field_1_15 .select2-container.select2-container--BRANDI .select2-selection.select2-selection--single {
            height: 3.75rem;
        }

        @@media (max-width: 1199px) {
            .section-contact__form #field_1_15 .select2-container.select2-container--BRANDI, .section-contact__form #field_1_15 .select2-container.select2-container--BRANDI .select2-selection.select2-selection--single

        {
            height: 4.5rem;
        }

        }

        .section-contact__form #field_1_15 .select2-container.select2-container--BRANDI .select2-selection.select2-selection--single .select2-selection__arrow {
            top: 25px;
        }

        .section-contact__form .select2-container.select2-container--BRANDI .select2-selection.select2-selection--single #select2-input_1_15-container.select2-selection__rendered {
            line-height: normal;
            height: 3.75rem;
            white-space: pre-line;
            padding-right: 2.75rem;
            padding-top: 0.6525rem;
        }

        @@media (max-width: 1199px) {
            .section-contact__form .select2-container.select2-container--BRANDI .select2-selection.select2-selection--single #select2-input_1_15-container.select2-selection__rendered

        {
            height: 4.5rem;
        }

        }

        .select2-container--BRANDI .select2-results__option {
            background-color: #e7e2d5;
            color: #000000;
        }

        #gform_wrapper_7 .gform_required_legend {
            display: none;
        }

        #gform_wrapper_7 label {
            font-weight: 400;
        }

        @@media (min-width: 769px) {
            .post-nav__prev > a, .post-nav__next .post-nav__title + a

        {
            height: 0;
            padding-bottom: 100%;
            position: relative;
        }

        .post-nav__next a img,
        .post-nav__prev a img {
            bottom: 0;
            display: block;
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }

        }

        .section-contact__form {
            background: #fffdfa
        }


        @@media (min-width: 769px) {
            #outer-wrapper .section-contact__wrapper

        {
            width: 100%;
        }

        .page-id-436 .section-contact__inner,
        .page-id-436 #outer-wrapper .section-contact__wrapper {
            display: flex;
        }

        .section-contact__content,
        .section-contact__form {
            width: 50%;
        }

        .section-contact__form {
            padding: 3.3125rem;
        }

        }

        @@media (max-width: 1024px) {
        }
        /*.section-contact__form #gform_wrapper_1 {
                    max-width: 824px;
                }*/

        .section-contact__form #gform_wrapper_1 #gform_1 {
            margin: 0 auto;
            max-width: 428px;
        }



        .banner-container {
            width: 100%;
            display: flex;
            overflow: hidden;
        }

        .banner-image {
            flex: 1;
            height: 680px;
            overflow: hidden;
        }

            .banner-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                transform: scale(1);
            }

            .banner-image:hover img {
                filter: grayscale(0%);
                transform: scale(1.05);
            }

        /* Responsive Mobile */
        @@media screen and (max-width: 768px) {
            .banner-container

        {
            flex-direction: column; /* Les images passent en vertical */
        }

        .banner-image {
            height: 400px; /* Hauteur réduite pour chaque image */
            flex: none; /* Annule le flex: 1 */
            width: 100%;
        }

            /* Option pour désactiver l'effet de zoom sur mobile */
            .banner-image:hover img {
                transform: scale(1);
            }

        }

        /* Responsive Tablette */
        @@media screen and (max-width: 1024px) and (min-width: 769px) {
            .banner-image

        {
            height: 500px; /* Hauteur adaptée pour tablette */
        }

        }
    </style>
    <style id="rocket-lazyrender-inline-css">
        [data-wpr-lazyrender] {
            content-visibility: auto;
        }
    </style>
    <meta name="generator" content="WP Rocket 3.18.1.3" data-wpr-features="wpr_delay_js wpr_automatic_lazy_rendering wpr_mobile wpr_preload_links" />
</head>

            @RenderBody()

    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
